html {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Open Sans', serif;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}

.organizerLogIn {
  display: block;
  position: absolute;
  box-sizing: content-box;
  -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
  opacity: 1;
  cursor: default;
  margin-top: 0.00px;
  margin-right: 0.00px;
  margin-bottom: 0.00px;
  margin-left: 0.00px;
  padding-top: 0.00px;
  padding-right: 0.00px;
  padding-bottom: 0.00px;
  padding-left: 0.00px;
  overflow-x: auto;
  overflow-y: auto;
  background-color: rgba(255, 255, 255, 1);
  width: 1920.00px;
  height: 1080.00px;
  left: 0px;
  top: 0px;
}

.organizerLogIn .mainBg {
  position: absolute;
  box-sizing: content-box;
  -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
  background-image: url("assets/mainBg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
  cursor: default;
  margin-top: 0.00px;
  margin-right: 0.00px;
  margin-bottom: 0.00px;
  margin-left: 0.00px;
  padding-top: 0.00px;
  padding-right: 0.00px;
  padding-bottom: 0.00px;
  padding-left: 0.00px;
  background-color: rgba(234, 242, 255, 1);
  border-bottom-color: rgba(112, 112, 112, 1);
  border-bottom-style: none;
  border-bottom-width: 1.00px;
  border-left-color: rgba(112, 112, 112, 1);
  border-left-style: none;
  border-left-width: 1.00px;
  border-right-color: rgba(112, 112, 112, 1);
  border-right-style: none;
  border-right-width: 1.00px;
  border-top-color: rgba(112, 112, 112, 1);
  border-top-style: none;
  border-top-width: 1.00px;
  border-top-left-radius: 0.00px;
  border-top-right-radius: 0.00px;
  border-bottom-left-radius: 0.00px;
  border-bottom-right-radius: 0.00px;
  box-shadow: none;
  width: 1920.00px;
  height: auto;
  left: 2.00px;
  top: 0.00px;
  bottom: 0.00px;
}

.organizerLogIn .sidebar {
  display: block;
  position: absolute;
  box-sizing: content-box;
  -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
  opacity: 1;
  cursor: default;
  margin-top: 0.00px;
  margin-right: 0.00px;
  margin-bottom: 0.00px;
  margin-left: 0.00px;
  padding-top: 0.00px;
  padding-right: 0.00px;
  padding-bottom: 0.00px;
  padding-left: 0.00px;
  overflow-x: unset;
  overflow-y: unset;
  background-color: transparent;
  width: 1641.00px;
  height: 884.00px;
  left: 135.00px;
  top: 88.00px;
}

.organizerLogIn .sidebar .bg262e228c {
  position: absolute;
  box-sizing: content-box;
  -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
  opacity: 1;
  cursor: default;
  margin-top: 0.00px;
  margin-right: 0.00px;
  margin-bottom: 0.00px;
  margin-left: 0.00px;
  padding-top: 0.00px;
  padding-right: 0.00px;
  padding-bottom: 0.00px;
  padding-left: 0.00px;
  background-color: rgba(255, 255, 255, 1);
  border-bottom-color: rgba(112, 112, 112, 1);
  border-bottom-style: none;
  border-bottom-width: 1.00px;
  border-left-color: rgba(112, 112, 112, 1);
  border-left-style: none;
  border-left-width: 1.00px;
  border-right-color: rgba(112, 112, 112, 1);
  border-right-style: none;
  border-right-width: 1.00px;
  border-top-color: rgba(112, 112, 112, 1);
  border-top-style: none;
  border-top-width: 1.00px;
  border-top-left-radius: 20.00px;
  border-top-right-radius: 20.00px;
  border-bottom-left-radius: 20.00px;
  border-bottom-right-radius: 20.00px;
  -webkit-filter: drop-shadow(0px 10px 20px rgba(196, 200, 208, 0.4));
  filter: drop-shadow(0px 10px 20px rgba(196, 200, 208, 0.4));
  width: 1641.00px;
  height: 884.00px;
  left: 0.00px;
  top: 0.00px;
}

.organizerLogIn .sidebar .linecad9de01 {
  position: absolute;
  box-sizing: content-box;
  -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
  opacity: 1;
  cursor: default;
  margin-top: 0.00px;
  margin-right: 0.00px;
  margin-bottom: 0.00px;
  margin-left: 0.00px;
  padding-top: 0.00px;
  padding-right: 0.00px;
  padding-bottom: 0.00px;
  padding-left: 0.00px;
  background-color: rgba(235, 242, 247, 1);
  border-bottom-color: rgba(0, 0, 0, 0);
  border-bottom-style: solid;
  border-bottom-width: 1.00px;
  border-left-color: rgba(0, 0, 0, 0);
  border-left-style: solid;
  border-left-width: 1.00px;
  border-right-color: rgba(0, 0, 0, 0);
  border-right-style: solid;
  border-right-width: 1.00px;
  border-top-color: rgba(0, 0, 0, 0);
  border-top-style: solid;
  border-top-width: 1.00px;
  border-top-left-radius: 0.00px;
  border-top-right-radius: 0.00px;
  border-bottom-left-radius: 0.00px;
  border-bottom-right-radius: 0.00px;
  box-shadow: none;
  width: 1579.99px;
  height: 1.00px;
  left: 30.50px;
  top: 809.00px;
}

.organizerLogIn .line {
  position: absolute;
  box-sizing: content-box;
  -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
  opacity: 1;
  cursor: default;
  margin-top: 0.00px;
  margin-right: 0.00px;
  margin-bottom: 0.00px;
  margin-left: 0.00px;
  padding-top: 0.00px;
  padding-right: 0.00px;
  padding-bottom: 0.00px;
  padding-left: 0.00px;
  background-color: rgba(235, 242, 247, 1);
  border-bottom-color: rgba(0, 0, 0, 0);
  border-bottom-style: solid;
  border-bottom-width: 1.00px;
  border-left-color: rgba(0, 0, 0, 0);
  border-left-style: solid;
  border-left-width: 1.00px;
  border-right-color: rgba(0, 0, 0, 0);
  border-right-style: solid;
  border-right-width: 1.00px;
  border-top-color: rgba(0, 0, 0, 0);
  border-top-style: solid;
  border-top-width: 1.00px;
  border-top-left-radius: 0.00px;
  border-top-right-radius: 0.00px;
  border-bottom-left-radius: 0.00px;
  border-bottom-right-radius: 0.00px;
  box-shadow: none;
  width: 1579.99px;
  height: 1.00px;
  left: 169.00px;
  top: 161.00px;
}

.organizerLogIn .count44bf8b17 {
  display: block;
  position: absolute;
  box-sizing: content-box;
  -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
  opacity: 1;
  cursor: default;
  margin-top: 0.00px;
  margin-right: 0.00px;
  margin-bottom: 0.00px;
  margin-left: 0.00px;
  padding-top: 0.00px;
  padding-right: 0.00px;
  padding-bottom: 0.00px;
  padding-left: 0.00px;
  overflow-x: unset;
  overflow-y: unset;
  background-color: transparent;
  width: 423.00px;
  height: 67.00px;
  left: 903.00px;
  top: 431.00px;
}

.organizerLogIn .count44bf8b17 .bg7caf6344 {
  font-size: 30px;
  position: absolute;
  box-sizing: content-box;
  -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
  opacity: 1;
  cursor: default;
  margin-top: 0.00px;
  margin-right: 0.00px;
  margin-bottom: 0.00px;
  margin-left: 0.00px;
  padding-top: 0.00px;
  padding-right: 0.00px;
  padding-bottom: 0.00px;
  padding-left: 10.00px;
  background-color: transparent;
  border-bottom-color: rgba(112, 112, 112, 1);
  border-bottom-style: solid;
  border-bottom-width: 2.00px;
  border-left-color: rgba(112, 112, 112, 1);
  border-left-style: solid;
  border-left-width: 2.00px;
  border-right-color: rgba(112, 112, 112, 1);
  border-right-style: solid;
  border-right-width: 2.00px;
  border-top-color: rgba(112, 112, 112, 1);
  border-top-style: solid;
  border-top-width: 2.00px;
  border-top-left-radius: 8.00px;
  border-top-right-radius: 8.00px;
  border-bottom-left-radius: 8.00px;
  border-bottom-right-radius: 8.00px;
  box-shadow: none;
  width: 411.00px;
  height: 65.00px;
  left: -1.00px;
  top: -1.00px;
}

.organizerLogIn .count {
  display: block;
  position: absolute;
  box-sizing: content-box;
  -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
  opacity: 1;
  cursor: default;
  margin-top: 0.00px;
  margin-right: 0.00px;
  margin-bottom: 0.00px;
  margin-left: 0.00px;
  padding-top: 0.00px;
  padding-right: 0.00px;
  padding-bottom: 0.00px;
  padding-left: 0.00px;
  overflow-x: unset;
  overflow-y: unset;
  background-color: transparent;
  width: 423.00px;
  height: 67.00px;
  left: 903.00px;
  top: 329.00px;
}

.organizerLogIn .count .bg {
  font-size: 30px;
  position: absolute;
  box-sizing: content-box;
  -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
  opacity: 1;
  cursor: default;
  margin-top: 0.00px;
  margin-right: 0.00px;
  margin-bottom: 0.00px;
  margin-left: 0.00px;
  padding-top: 0.00px;
  padding-right: 0.00px;
  padding-bottom: 0.00px;
  padding-left: 10.00px;
  background-color: transparent;
  border-bottom-color: rgba(112, 112, 112, 1);
  border-bottom-style: solid;
  border-bottom-width: 2.00px;
  border-left-color: rgba(112, 112, 112, 1);
  border-left-style: solid;
  border-left-width: 2.00px;
  border-right-color: rgba(112, 112, 112, 1);
  border-right-style: solid;
  border-right-width: 2.00px;
  border-top-color: rgba(112, 112, 112, 1);
  border-top-style: solid;
  border-top-width: 2.00px;
  border-top-left-radius: 8.00px;
  border-top-right-radius: 8.00px;
  border-bottom-left-radius: 8.00px;
  border-bottom-right-radius: 8.00px;
  box-shadow: none;
  width: 411.00px;
  height: 65.00px;
  left: -1.00px;
  top: -1.00px;
}

.organizerLogIn .rectangle144 {
  position: absolute;
  box-sizing: content-box;
  -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
  opacity: 1;
  cursor: pointer;
  margin-top: 0.00px;
  margin-right: 0.00px;
  margin-bottom: 0.00px;
  margin-left: 0.00px;
  padding-top: 0.00px;
  padding-right: 0.00px;
  padding-bottom: 0.00px;
  padding-left: 0.00px;
  background-color: rgba(80, 143, 244, 1);
  border-bottom-color: rgba(112, 112, 112, 1);
  border-bottom-style: none;
  border-bottom-width: 1.00px;
  border-left-color: rgba(112, 112, 112, 1);
  border-left-style: none;
  border-left-width: 1.00px;
  border-right-color: rgba(112, 112, 112, 1);
  border-right-style: none;
  border-right-width: 1.00px;
  border-top-color: rgba(112, 112, 112, 1);
  border-top-style: none;
  border-top-width: 1.00px;
  border-top-left-radius: 10.00px;
  border-top-right-radius: 10.00px;
  border-bottom-left-radius: 10.00px;
  border-bottom-right-radius: 10.00px;
  box-shadow: none;
  width: 216.00px;
  height: 70.00px;
  left: 795.00px;
  top: 567.00px;
}

.organizerLogIn .rectangle147 {
  position: absolute;
  box-sizing: content-box;
  -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
  opacity: 1;
  cursor: default;
  margin-top: 0.00px;
  margin-right: 0.00px;
  margin-bottom: 0.00px;
  margin-left: 0.00px;
  padding-top: 0.00px;
  padding-right: 0.00px;
  padding-bottom: 0.00px;
  padding-left: 0.00px;
  background-color: rgba(80, 143, 244, 1);
  border-bottom-color: rgba(112, 112, 112, 1);
  border-bottom-style: none;
  border-bottom-width: 1.00px;
  border-left-color: rgba(112, 112, 112, 1);
  border-left-style: none;
  border-left-width: 1.00px;
  border-right-color: rgba(112, 112, 112, 1);
  border-right-style: none;
  border-right-width: 1.00px;
  border-top-color: rgba(112, 112, 112, 1);
  border-top-style: none;
  border-top-width: 1.00px;
  border-top-left-radius: 10.00px;
  border-top-right-radius: 10.00px;
  border-bottom-left-radius: 10.00px;
  border-bottom-right-radius: 10.00px;
  box-shadow: none;
  width: 216.00px;
  height: 70.00px;
  left: 1115.00px;
  top: 567.00px;
}

.organizerLogIn .title {
  position: absolute;
  box-sizing: content-box;
  -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
  opacity: 1;
  cursor: default;
  margin-top: 0.00px;
  margin-right: 0.00px;
  margin-bottom: 0.00px;
  margin-left: 0.00px;
  padding-top: 0.00px;
  padding-right: 0.00px;
  padding-bottom: 0.00px;
  padding-left: 0.00px;
  background-color: rgba(255, 255, 255, 0);
  text-align: center;
  line-height: 22.00px;
  letter-spacing: 0.75px;
  color: rgba(51, 51, 51, 1);
  -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
  font-size: 24.00px;
  font-weight: 700;
  font-style: normal;
  font-family: Rajdhani, Arial;
  text-decoration: none;
  box-shadow: none;
  overflow-x: unset;
  overflow-y: unset;
  white-space: pre;
  width: 382.00px;
  height: 30.00px;
  left: 169.50px;
  top: 121.50px;
}

.organizerLogIn .emailAddress {
  position: absolute;
  box-sizing: content-box;
  -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
  opacity: 1;
  cursor: default;
  margin-top: 0.00px;
  margin-right: 0.00px;
  margin-bottom: 0.00px;
  margin-left: 0.00px;
  padding-top: 0.00px;
  padding-right: 0.00px;
  padding-bottom: 0.00px;
  padding-left: 0.00px;
  background-color: rgba(255, 255, 255, 0);
  text-align: center;
  letter-spacing: 0.00px;
  color: rgba(82, 87, 93, 1);
  -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
  font-size: 34.00px;
  font-weight: 700;
  font-style: normal;
  font-family: Rajdhani, Arial;
  text-decoration: none;
  box-shadow: none;
  overflow-x: unset;
  overflow-y: unset;
  white-space: pre;
  width: 198.00px;
  height: 44.00px;
  left: 631.00px;
  top: 341.00px;
}

.organizerLogIn .password {
  position: absolute;
  box-sizing: content-box;
  -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
  opacity: 1;
  cursor: default;
  margin-top: 0.00px;
  margin-right: 0.00px;
  margin-bottom: 0.00px;
  margin-left: 0.00px;
  padding-top: 0.00px;
  padding-right: 0.00px;
  padding-bottom: 0.00px;
  padding-left: 0.00px;
  background-color: rgba(255, 255, 255, 0);
  text-align: center;
  letter-spacing: 0.00px;
  color: rgba(82, 87, 93, 1);
  -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
  font-size: 34.00px;
  font-weight: 700;
  font-style: normal;
  font-family: Rajdhani, Arial;
  text-decoration: none;
  box-shadow: none;
  overflow-x: unset;
  overflow-y: unset;
  white-space: pre;
  width: 136.00px;
  height: 44.00px;
  left: 628.00px;
  top: 431.00px;
}

.organizerLogIn .name59e6cd67 {
  box-sizing: content-box;
  -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
  opacity: 1;
  cursor: pointer;
  margin-top: 5.00px;
  margin-right: 0.00px;
  margin-bottom: 0.00px;
  margin-left: 0.00px;
  padding-top: 0.00px;
  padding-right: 0.00px;
  padding-bottom: 0.00px;
  padding-left: 0.00px;
  background-color: rgba(255, 255, 255, 0);
  text-align: center;
  line-height: 61.00px;
  letter-spacing: 1.06px;
  color: rgba(255, 255, 255, 1);
  -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
  font-size: 34.00px;
  font-weight: 500;
  font-style: normal;
  font-family: Rajdhani, Arial;
  text-decoration: none;
  box-shadow: none;
  overflow-x: unset;
  overflow-y: unset;
  white-space: pre;
}

.organizerLogIn .name {
  box-sizing: content-box;
  -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
  opacity: 1;
  cursor: default;
  margin-top: 13.00px;
  margin-right: 0.00px;
  margin-bottom: 0.00px;
  margin-left: 0.00px;
  padding-top: 0.00px;
  padding-right: 0.00px;
  padding-bottom: 0.00px;
  padding-left: 0.00px;
  background-color: rgba(255, 255, 255, 0);
  text-align: center;
  line-height: 47.00px;
  letter-spacing: 1.06px;
  color: rgba(255, 255, 255, 1);
  -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
  font-size: 34.00px;
  font-weight: 500;
  font-style: normal;
  font-family: Rajdhani, Arial;
  text-decoration: none;
  box-shadow: none;
  overflow-x: unset;
  overflow-y: unset;
  white-space: pre;
}